<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ToDoList</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="ion-padding-horizontal">
    <h1><b>Aujourd'hui</b></h1>
    {{currentDate | date:'dd/MM/yyyy'}}
  </div>
  
  <ion-card *ngFor="let task of tasks">
    <div *ngIf="task.checked">
      <ion-item-sliding>
        <ion-item lines="none">
          <ion-checkbox (ionChange)="changeCheckState(task)" color="success" [(ngModel)]="task.checked" slot="start"></ion-checkbox>
          <ion-label>
            <h2 style="text-decoration:line-through;">{{ task.text }}</h2>
            <p>{{ task.hour }}</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </div>
  </ion-card>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['..']">
        <ion-icon name="today-outline"></ion-icon>
        <ion-label>To Do</ion-label>
        <ion-badge>{{ count }}</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button>
        <ion-icon name="checkmark-done-outline"></ion-icon>
        <ion-label>Done</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
</ion-content>